<style>
  /* Custom CSS: https://github.com/retypeapp/retype/discussions/81#discussioncomment-2473238 */

  /* Red colored links for Hive theme */

  /* Light theme */
  .bg-blue-500 {
    background-color: rgb(227 19 55 / var(--tw-text-opacity)) !important;
  }
  .text-blue-500, .md\:text-blue-500, .docs-markdown a:not(.no-link),
  .docs-markdown a:not(.no-link):hover, .hover\:text-blue-500:hover,
  .group:hover .group-hover\:text-blue-500 {
    color: rgb(227 19 55 / var(--tw-text-opacity)) !important;
  }
  .border-blue-500 {
    border-color: rgb(227 19 55 / var(--tw-text-opacity)) !important;
  }
  #docs-site-header a[target="_blank"] {
    color: dimgray !important;
    font-weight: bold;
  }
  #docs-site-header a[target="_blank"]:hover {
    color: rgb(227 19 55 / var(--tw-text-opacity)) !important;
  }

  /* Dark theme */
  :is(.dark .dark\:bg-blue-400) {
    background-color: rgb(232 66 94 / var(--tw-text-opacity)) !important;
  }
  :is(.dark .dark\:text-blue-400), :is(.dark .dark\:hover\:text-blue-400:hover),
  .dark .docs-markdown a:not(.no-link), .dark .docs-markdown a:not(.no-link):hover,
  :is(.dark .group:hover .dark\:group-hover\:text-blue-400) {
    color: rgb(232 66 94 / var(--tw-text-opacity)) !important;
  }
  :is(.dark .dark\:border-blue-400) {
    border-color: rgb(232 66 94 / var(--tw-text-opacity)) !important;
  }
  :is(.dark #docs-site-header a[target="_blank"]) {
    color: lightgray !important;
    font-weight: bold;
  }
  :is(.dark #docs-site-header a[target="_blank"]:hover) {
    color: rgb(232 66 94 / var(--tw-text-opacity)) !important;
  }
</style>
