image: node:20

stages:
  - build
  - deploy

include:
  - template: Workflows/Branch-Pipelines.gitlab-ci.yml
  - project: 'hive/common-ci-configuration'
    ref: 37bc739200d61f9c50fe7a4d8728d205bd4c6dbe
    file:
      - '/templates/npm_projects.gitlab-ci.yml'
      - '/templates/github_pages.gitlab-ci.yml'

variables:
  GIT_DEPTH: 0
  GIT_STRATEGY: clone
  GIT_SUBMODULE_STRATEGY: recursive
  # Reference for GitHub Pages scripts from common-ci-configuration
  COMMON_CI_GITHUB_PAGES_REF: "37bc739200d61f9c50fe7a4d8728d205bd4c6dbe"

cache:
  key:
    files:
      - pnpm-lock.yaml
  paths:
    - node_modules/
    - .pnpm-store/

default:
  tags:
    - public-runner-docker

.pnpm_based_job:
  rules:
    - if: '$CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH'
      variables:
        # subpath to branches content for preview
        PREVIEW_URL_PATH: "-/${CI_COMMIT_REF_SLUG}/"
    - variables:
        # default branch subpath
        PREVIEW_URL_PATH: "${DEFAULT_DOC_PATH}/"
  variables:
    PAGES_ENV_NAME: "pages/${CI_COMMIT_REF_SLUG}"
    CACHED_PUBLIC_DIR: "${CI_PROJECT_DIR}/public"
    DEFAULT_DOC_PATH: "default"
    DOC_PATH: "${CACHED_PUBLIC_DIR}/${PREVIEW_URL_PATH}"
    DOC_URL: "${CI_PAGES_URL}/${PREVIEW_URL_PATH}"
  before_script:
    - corepack enable
    - corepack prepare pnpm@9.1.1 --activate
    - pnpm config set store-dir .pnpm-store
    - pnpm install

lint:
  stage: .pre
  extends: .pnpm_based_job
  script:
    - pnpm run lint
  rules:
    - when: always

build:
  stage: build
  extends: .pnpm_based_job
  needs:
    - job: lint
  script:
    # Replace the base URL in retype.yml with the GitLab Pages URL
    - sed -i "s#http://localhost:5005#${DOC_URL}#g" retype.yml
    # Replace the commit hash value to ensure which version of the documentation we are deploying
    - sed -i "s#commithashvalue#${CI_COMMIT_SHORT_SHA}#g" retype.yml
    - pnpm run build
  artifacts:
    paths:
      - ".retype"
    when: always
    expire_in: 1 week

.deployment_base:
  stage: deploy
  extends: .pnpm_based_job
  # Also when configuring cache, don't forget to unselect the option "Use separate caches for protected branches"
  # in CI/CD "General pipelines" project configuration if you want to keep multiple deployments (pages for multiple branches at the same time)
  cache:
    # using cache is the workaround for keeping multiple deployments (pages for multiple branches at the same time)
    # due to GitLab "Parallel Deployments" being a premium feature: https://docs.gitlab.com/user/project/pages/#parallel-deployments
    key: gitlab-pages
    paths: [ public ]
  artifacts:
    paths: [ public ]
  tags: # has to be a single runner or cache should be shared between multiple runners
    - data-cache-storage

pages:
  extends: .deployment_base
  needs:
    - job: build
      artifacts: true
  script:
    - echo "The site will be deployed to $DOC_URL identified by $PAGES_ENV_NAME"
    - rm -rf "$DOC_PATH"
    - mkdir -p "$DOC_PATH"
    - mv .retype/* "$DOC_PATH"
    # Create redirects for the default branch - for both configurations: unique domains and subpaths
    - echo "/${CI_PROJECT_NAME}/ /${CI_PROJECT_NAME}/${DEFAULT_DOC_PATH}/ 302" > "${CACHED_PUBLIC_DIR}/_redirects"
    - echo "/ /${DEFAULT_DOC_PATH}/ 302" >> "${CACHED_PUBLIC_DIR}/_redirects"
  environment:
    name: "$PAGES_ENV_NAME"
    url: "$DOC_URL"
    action: start
    on_stop: cleanup_preview

cleanup_preview:
  extends: .deployment_base
  script:
    - echo "Cleaning up preview environment for MR $CI_MERGE_REQUEST_IID"
    - rm -rf "$DOC_PATH"
  environment:
    name: "$PAGES_ENV_NAME"
    action: stop
  when: manual
  allow_failure: true

deploy_to_github_pages:
  extends: .deploy_github_pages_simple_template
  variables:
    PROJECT_NAME: "workerbee"
    DOCS_DIR: "${CI_PROJECT_DIR}/.retype"
  needs:
    - job: build
      artifacts: true
